@import url('https://fonts.googleapis.com/css?family=Old+Standard+TT');
body {
	    font: 15px/1.5 Helvetica, sans-serif;
	    padding: 0;
	    margin: 0;
	    font-family: 'Old Standart TT';
	    background-color: #f4f4f4;
}

/*Global*/
.container{
  width: 80%;
  margin: auto;
  overflow: hidden;
}
ul{
	margin: 0;
	padding: 0;
}
#branding a:hover {
    transition: 1s;
 	color: #e8491d;
 	font-size: 15px;
 	transform: scale(0.95; 0.95);
 }

#branding a:hover span{
	transition: 0.2s;
	transform: rotate(45deg);
}

.button_1{
	height: 38px;
	background: #e8491d;
	border: 0;
	padding-left: 30px;
	padding-right: 30px;
	color: #ffffff;
}
.button_1:hover {
	transition: 0.5s;
 	font-size: 15px;
 	transform: scale(0.95; 0.95);
}

  a.dark{
	padding: 15px;
	background: #35424a;
	color:#ffffff;
	margin-top: 10px;
	margin-bottom: 10px;
}

/*Header**/
header{
	background: #35424a;
	color: #ffffff;
	padding-top: 30px;
	min-height: 70px;
	border-bottom: #e8491d 3px solid;
}

header a{
	color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
}


header li{
	float: left;
	display: inline;
	padding: 0 20px 0 20px; 
}

 header #branding{
 	float: left;
 }

 header #branding h1{
 	margin: 0;
 }

 header nav{
 	float: right;
 	margin-top: 10px; 
 }

 header .highlight, header .current a{
 	color: #e8491d;
 	font-weight:bold;
 }
 
header a:hover{
	color: #cccccc;
	font-weight: bold;
}

/* Showcase */
#showcase{
	min-height: 400px;
	background: url('../img/4.jpg') no-repeat 0px;
	text-align: center;
	color: #ffffff;
}
#bichleg{
	background: transparent;
}

#showcase h1{
	margin-top: 100px;
	font-size: 55px;
	margin-bottom: 10px;
}

#showcase p{
	font-size: 20px;
}

/*Newsletter */
#newsletter{
	padding: 15px;
	color:#ffffff;
	background: #35424a
}

#newsletter h1{
	float: left;
}

#newsletter form{
	float: right;
	margin-top: 15px;
}

#newsletter input[type="email"]{
	padding: 4px;
	height: 25px;
	width: 250px;
}

/*Boxes */
#boxes{
	margin-top:20px;
}

#boxes .box{
	float: left;
	text-align: center;
	width:30%;
	padding: 10px;
}

 #boxes .box img{
 	width: 90px;
 }

/* Sidebar */
 aside#sidebar{
 	float: right;
 	width: 400px;
 	margin-top: 10px;
 }

 aside#sidebar .quote input, aside#sidebar .quote textarea{
 	width: 90%;
 	padding: 5px;
 }


 /* Main-col */
 article#main-col{
 	float: left;
 	width: 55%;
 }

 /* Service */
 ul#service li{
 	list-style: none;
 	padding: 20px;
 	border: #cccccc solid 1px;
 	margin-bottom: 5px;
 	background: #e6e6e6;
 }
 footer{
 	padding: 20px;
 	margin-top: 20px;
 	color: #ffffff;
 	background-color:#e8491d;
 	text-align: center;
 }
 .container ul li a:hover {
 	transition: 0.2s;
 	color: #e8491d;
 	padding: 10px;
 	font-size: 20px;
 }

 /* Media Queries*/
 @media(max-width: 768px){
 	header #branding, 
 	header nav,
 	header nav li
 	#newsletter h1,
 	#newsletter form
 	#boxes .box,
 	article#main-col,
 	aside#sidebar{
   float: none;
   text-align: center;
   width: 100%;
 	}

 	header{
 		padding-bottom: 20px;
 	}

 	#showcase h1{
 		margin-top: 48px;
 	}
 	#newsletter button, .quote button{
 		display: block;
 		width: 100%;
  	}

    #newsletter form input[type="email"], .quote input, .quote textarea {
 	width: 100%;
 	margin-bottom: 5px;

 }
 }






